[Unit]
Description=Game Server
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/opt/game-server/game-server
ExecStart=/opt/game-server/game-server/bin/game-server
Restart=always
Environment="DB_PASS=${DB_PASSWORD}"
Environment="DB_HOST=${DB_HOST}"
Environment="DB_USER=admin"
Environment="DB_NAME=game-db"

[Install]
WantedBy=multi-user.target